/**
 * Theme:	Flat Bootstrap
 * File:	editor-style.css
 * 
 * The stylesheet for the WordPress visual post / page editor
 *
 * For now, simply loads our theme's fonts and stylesheets
 *
 * @package flat-bootstrap
 */
 
/**
 * PULL IN OUR THEME STYLESHEETS SO VISUAL EDITOR AND PREVIEWS LOOK RIGHT
 */
@import url( '../wp-content/themes/flat-bootstrap/bootstrap/css/bootstrap.min.css' );
@import url( '//fonts.googleapis.com/css?family=Lato:300,400,700');
@import url( '//fonts.googleapis.com/css?family=Raleway:400,300,700');
@import url( '../wp-content/themes/flat-bootstrap/font-awesome/css/font-awesome.min.css');
@import url( '../wp-content/themes/flat-bootstrap/css/theme-base.css' );
@import url( '../wp-content/themes/flat-bootstrap/css/theme-flat.css' );
@import url( '../wp-content/themes/flat-bootstrap/style.css' );

/* Main column width */
.wp-block {
    max-width: 1170px;
}
 
/* Width of "wide" blocks */
/*.wp-block[data-align="wide"] {
    max-width: 1170px;
}*/
 
/* Width of "full-wide" blocks */
/*.wp-block[data-align="full"] {
    max-width: none;
}*/

/* Adjust the container to flexible width */
.container {
	max-width: 100%;
}